@import url("https://fonts.googleapis.com/css?family=Fira+Code:regular,bold,italic&subset=latin,latin-ext");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.centered {
  margin: 0 auto;
  text-align: center;
}

.align-left {
  text-align: left;
}

.ui.grid > .row {
  padding: 0.9em 2em;
}

code {
  font-family: "Jetbrains Mono", monospace;
  font-size: 0.9em;
  color: white;
  background: #2f3640;
  padding: 2px 6px;
  border-radius: 4px;
  margin: 0 6px;
}

.links {
  padding-left: 0px !important;
}

.buttons {
  padding-right: 0px !important;
}
