.codeBlock {
  display: block;
  background-color: #333;
  width: 100%;
  line-height: 0.1em;

  /* display: block;
  background-color: #333;
  font-size: 1.1em;
  margin: 0.2rem 0.2rem; */

  /*
  color: #fff;
  white-space: nowrap;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  */
}

pre {
  font-size: 1.1em;
}

.copyIcon {
  color: #95a5a6;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 6px;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  right: 35px;
  transition: font-color 0.1s, background-color 0.1s ease-in-out;
}

.copyIcon:hover {
  color: #ecf0f1;
  background-color: rgba(0, 0, 0, 0.7);
}
